*{
    margin: 0.5em 2em;
}
body{
    background-color: rgb(109, 106, 106);
}
label{
    display: inline-block;
    width:15vw;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#adresse{
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
select {
    background-color:rgb(196, 190, 190);
    border-radius: 1rem;
    width: 300px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00ff37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"] {
    margin-right: 10px;
}

button[type="reset"] {
    background-color: #b44651;
}

button:hover {
    background-color: #00b31e;
}
#cv{
border-radius: 1em;
color: aquamarine;
}
button[type="reset"]:hover {
    background-color: #ff0019be;
}