*{
    margin: auto;
    padding: auto;
}
#img1 {
    cursor:help;
    margin: 1em 4em;
    height: 2vw;
    width: 2vw;
    background-color: black;
    padding: 0.1rem;
    border-radius: 5rem;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 139, 36);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
#HOME{
    background-color: rgb(55, 255, 0);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}
#VOLUNTEER{
    background-color: rgb(255, 191, 0);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}
#CHAMPAINS{
    background-color: rgb(67, 67, 213);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}
#CONTACTS{
    background-color: rgb(93, 165, 228);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}
#VEDOS{
    background-color: rgb(255, 225, 0);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}
li{
    display:inline;
    background-color:rgb(55, 255, 0);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

#HOME:hover{
    background-color: rgb(133, 201, 152);
    box-shadow: 2px 2px 2px black;
}
#VOLUNTEER:hover{
    background-color: rgb(133, 201, 152);
    box-shadow: 2px 2px 2px black;
}
#CHAMPAINS:hover{
    background-color: rgb(133, 201, 152);
    box-shadow: 2px 2px 2px black;
}
#CONTACTS:hover{
    background-color: rgb(133, 201, 152);
    box-shadow: 2px 2px 2px black;
}
#VEDOS:hover{
    background-color: rgb(133, 201, 152);
    box-shadow: 2px 2px 2px black;
}
a{
    color: rgb(255, 255, 255);
   text-decoration: none; 
}

/* Section 1 */
#section1{
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto auto;
}
#dev1 {
    margin-left: 2%;
    width: 90%;
    height: auto;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: aqua;
}
#img2 {
    margin-left: 2%;
    cursor:no-drop;
    box-shadow: 8px 8px 8px black;
    width: 100%;
    height: auto;
    border-top-right-radius: 8em;
    border-bottom-right-radius: 8em;
    margin-top: 3%;
    position: relative;
    z-index: 1;
}
#img2:hover{
 transform:translate(20%);
}
#byme{
    position: absolute;
    margin-top: 12%;
    margin-left: 2%;
    font-family: monospace;
    font-size: x-large;
}
p{
    font-size: large;
    margin-right: 1em;
}
h1{
    margin-top: 3%;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
#text1{
    text-align: center;
    font-size: xx-large;
    margin-top: 0.9em;
}
#btn1{
    margin-left: 60%;
    box-shadow: 3px 3px 3px rgb(121, 253, 20);
    border-radius: 5em;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
    text-align: center;
    width: 14vw;
    height: 10vh;
    cursor:progress;
    animation-name: HOpe;
    animation-duration: 2s; 
    animation-iteration-count: infinite;
}
@keyframes HOpe {
    from {
        background-color: rgb(255, 0, 0);
    }
    to {
        background-color: rgba(255, 119, 0, 0.742);
    }
}
h5{
    font-size: xx-large;
}
h2{
    text-shadow: 2px 2px 2px black;
    margin-top: 1em;
    text-align: center;
    color: blue;
}
#container{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#ouffer1{
    border-radius: 3em;
    padding: 2%;
    background-color: rgba(121, 204, 32, 0.315);
}
#offu1{
    box-shadow: 8px 8px 8px black;
    height: 20vh;
    border-radius: 50%;
}

#ouffer2{
    border-radius: 3em;
    padding: 1%;
    background-color: rgba(32, 198, 204, 0.315);
}
#offu2{
    box-shadow: 8px 8px 8px black;
    height: 20vh;
    border-radius: 50%;
}
#ouffer3{
    border-radius: 3em;
    padding: 1%;
    background-color: rgba(32, 66, 204, 0.315);
}
#offu3{
    box-shadow: 8px 8px 8px black;
    height: 20vh;
    border-radius: 50%;
}
#ouffer4{
    border-radius: 3em;
    padding: 1%;
    background-color: rgba(204, 84, 32, 0.315);
}
#offu4{
    box-shadow: 8px 8px 8px black;
    height: 20vh;
    border-radius: 50%;
}
.text{
    margin-top: 1em;
    font-size: large;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
    text-shadow: 2px 2px 2px black;
    margin-top: 2em;
    margin-left: 2em;
    font-size: large;
    color: blue;
    margin-bottom: 2em;
}
#section3{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2em;
}
.image5{
    margin-left: 9em;
}
.para{
    margin-left: 3em;
}
#f1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 1em;
}
.icon{
    display: flex;
    flex-direction: row;
    margin-right: 1%;
}
.fbi{
    filter: drop-shadow(3px 3px #ea00ff);
    height: 4vh;
    width: 2vw;
}
.fb{
    
    border-radius: 8em;
    padding: 0.2em;
    background-color: rgb(60, 255, 0);
}
.twitter{
    border-radius: 8em;
    padding: 0.2em;
    margin-left: 0.5em;
    background-color: yellow;
}
.p{
    border-radius: 8em;
    padding: 0.2em;
    margin-left: 0.5em;
    background-color: rgb(0, 72, 255);
}
.devF{
margin-left: 1em;
}
@media screen and (max-width : 700px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    nav{
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    
}